<div class="row">
  <div class="col-md-3"></div>
  <div style="margin-top:80px" class="input-group stylish-input-group col-md-6">
    <input type="text" class="form-control rounded-0 py-2" placeholder="Search..." [(ngModel)]="filter" onfocus="this.placeholder = ''"
      onblur="this.placeholder = 'Search...'" required="">
  </div>

  <div class="col-md-3">
    <button style="margin-top:80px" class="btn btn-lg" [routerLink]="['adduser']">Add User</button>
  </div>
</div>
<br/>
<div style="width:100%">
  <table class="text-center table table-bordered">
    <thead>
      <tr>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let all of users | filter:filter| paginate: { itemsPerPage: 6, currentPage: p }">
        <td>{{all.username}}</td>
        <td>{{all.firstName}}</td>
        <td>{{all.lastName}}</td>
        <td>{{all.email}}</td>
        
        <td class="btn-group">
          <button [routerLink]="['edit',all._id]" class="btn btn-sm btn-success">Edit</button>
          <button (click)="deleteUser(all._id)" class="btn btn-sm btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <br/>
  <div class="text-center">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>